.main {
    display: flex;
    justify-content: center;
    align-items: center;

    .actions {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(238, 238, 238);
            border-radius: 1000px;
            color: black;
            font-size: 1;
            font-weight: bold;
            padding: 0.6rem 2rem;
            text-transform: lowercase;

            &:hover {
                background-color: white;
            }

        }
    }

    .user {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 80%;

        div {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            font-size: 2rem;
            font-family: "Comfortaa";

            .userName {
                height: 100%;
                font-size: 1.8rem;
                color: #C17FD0;
                font-family: "Comfortaa";
                font-weight: 900;
                animation: 0.25s ease-in slideIn;
                text-transform: lowercase;

            }

            .greeting {
                height: 100%;
                font-size: 1.8rem;
                font-family: "Comfortaa";
                font-weight: 900;
                padding-right: 1rem;
                text-transform: lowercase;
            }

        }
    }

}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-5%);

    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media only screen and (max-width: 1700px) {
    .main {

        .actions {
            width: 50%;
            margin: 0px;
            margin-top: 15px;
            margin-right: 15px;

            button {
                padding: 0.3rem 1rem;

            }
        }

        .user {
            width: 50%;
            margin: 0px;
            margin-top: 15px;
            margin-left: 15px;

            div {

                .userName {
                    font-size: 1rem;

                }

                .greeting {
                    font-size: 1rem;
                    padding-right: 0.3rem;
                }

            }
        }

    }
}